.container {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  position: fixed;
  padding: 14px 21px;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.left {
  justify-self: start;
  transform: translateY(-7px);
}
.center {
  justify-self: center;
  transform: translateY(-7px);
}
.right {
  justify-self: end;
  transform: translateY(-11px);
}

.logo {
  width: 115px;
  height: auto;
}

.textLogo {
  height: 60px;
  width: auto;
  margin-left: 15px;
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 35px;
  text-align: right;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}
